{% extends "base.html" %}

{% block content %}
    <div class="row-fluid">
        <div class="span10 alert alert-error">
            <div class="lead">Error happen, please try again.</div>

            <a class="btn btn-primary btn-large" href="/"><i class="icon-home"></i> Go to home page</a>

            <a class="btn btn-warning btn-large" href="{% url django.contrib.auth.views.logout %}"><i class="icon-signout"></i> Logout and try again</a>
        </div>
    </div>
{% endblock %}

