{% extends 'base.html' %}
{% load bootstrap %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#submit").click(function(){
                var name = $("#id_name").val().replace(/^\s+|\s+$/g, '');
                if (name == "") {
                    $("#id_name").css('border-color', 'red');
                    $("#notify").showNotification("Name is required", 2000);
                    return false;
                } else $("#id_name").css('border-color', '#CCC');

                var description = $("#id_description").val().replace(/^\s+|\s+$/g, '');

                $("#notify").showNotification("Sending data...", 20000);
                var arg = { type:"POST",
                    url:"",
                    global:false,
                    data:{ name: name,
                        description: description,
                    },
                    datatype:"json",
                    success:function (json) {
                        if (json.success) {
                            $("#notify").showNotification(json.message, 2000);
                            window.location.replace(json.redirect);
                        } else {
                            $("#notify").showNotification(json.message, 2000);
                        }
                    },
                    error:function () {
                        $("#notify").showNotification("Gặp lỗi khi gửi đăng ký", 2000);
                    }
                };
                $.ajax(arg);
                return false;
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span6">
            <form action="" class="well form-horizontal" id="product_form" method="post">{% csrf_token %}
                <legend>New Material</legend>
                {{ form|bootstrap }}
                <div class="form-actions">
                    <input id="submit" class="btn-danger" type="submit" value="Create material" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}