{% extends 'base.html' %}
{% load bootstrap %}
{% block css %}
    <link href="/products/static/css/timepicker.css" rel="stylesheet" type="text/css"/>
    <link href="/products/static/css/datepicker.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block js %}
    <script type="text/javascript"
            src="/products/static/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#id_created_date").datepicker({
                format: 'yyyy-mm-dd',
                language: 'en'
            });
            
            $("#submit").click(function(){
                var date = $("#id_created_date").val().replace(/^\s+|\s+$/g, '');
                if (date == "") {
                    $("#id_created_date").css('border-color', 'red');
                    $("#notify").showNotification("Created date is require", 2000);
                    return false;
                } else $("#id_created_date").css('border-color', '#CCC');

                var name = $("#id_name").val().replace(/^\s+|\s+$/g, '');
                if (name == "") {
                    $("#id_name").css('border-color', 'red');
                    $("#notify").showNotification("Name is required", 2000);
                    return false;
                } else $("#id_name").css('border-color', '#CCC');

                var category_id = $("#id_category_id").val().replace(/^\s+|\s+$/g, '');
                var material_id = $("#id_material_id").val().replace(/^\s+|\s+$/g, '');
                var manufacturer_id = $("#id_manufacturer_id").val().replace(/^\s+|\s+$/g, '');
                var description = $("#id_description").val().replace(/^\s+|\s+$/g, '');

                var value = $("#id_value").val().replace(/^\s+|\s+$/g, '');
                if (value == "") {
                    $("#id_value").css('border-color', 'red');
                    $("#notify").showNotification("Value is required and a float number", 2000);
                    return false;
                } else $("#id_value").css('border-color', '#CCC');

                $("#notify").showNotification("Sending data...", 20000);
                var arg = { type:"POST",
                    url:"",
                    global:false,
                    data:{ name: name,
                        created_date: date,
                        category_id: category_id,
                        material_id: material_id,
                        manufacturer_id: manufacturer_id,
                        description: description,
                        value: value
                    },
                    datatype:"json",
                    success:function (json) {
                        if (json.success) {
                            $("#notify").showNotification(json.message, 2000);
                            window.location.replace(json.redirect);
                        } else {
                            $("#notify").showNotification(json.message, 2000);
                        }
                    },
                    error:function () {
                        $("#notify").showNotification("Gặp lỗi khi gửi đăng ký", 2000);
                    }
                };
                $.ajax(arg);
                return false;
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span6">
            <form action="" class="well form-horizontal" id="product_form" method="post">{% csrf_token %}
                <legend>New product</legend>
                {{ form|bootstrap }}
                <div class="form-actions">
                    <input id="submit" class="btn-danger" type="submit" value="Create product" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}