{% extends "base.html" %}
{% load bootstrap %}
{% block content %}
    <div class="row-fluid">
        <div class="span6">
            <form action="" class="well form-horizontal" id="register_form" method="post">{% csrf_token %}
                <legend>Login to system</legend>
                {{ form|bootstrap }}
                <div class="form-actions">
                    <input id="submit" class="btn-primary" type="submit" value="Login" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}