{% extends 'base.html' %}
{% load bootstrap %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
{% endblock %}

{% block content %}
    <h2>Product in manufacturer {{ manufacturer }}</h2>
    <i>{{ manufacturer.description }}</i>
    {% if products %}
    <table  class="table table-striped">
        <thead>
            <th>No</th>
            <th>Name</th>
            <th>Category</th>
            <th>Material</th>
            <th>Description</th>
            <th>Estimated value</th>
            <th>Created date</th>
        </thead>
        {% for product in products %}
            <tr>
                <td><a href="{% url "view_product" product.id%}" title="See product detail">{{ forloop.counter }}</a></td>
                <td>{{ product.name|default_if_none:""}}</td>

                {% if product.category_id %}
                    <td><a href="{% url "product_in_category" product.category_id.id%}"  title = "Go to see all products in this category">{{ product.category_id}} </a> </td>
                {% else %}
                    <td></td>
                {% endif %}

                {% if product.material_id %}
                    <td><a href="{% url "product_in_material" product.material_id.id%}"  title="Go to see all products in this material">{{ product.material_id}} </a> </td>
                {% else %}
                    <td></td>
                {% endif %}
            
                <td>{{ product.description|default_if_none:""}}</td>
                <td>{{ product.value|default_if_none:""}}</td>
                <td>{{ product.created_date|date:"m-d-Y"}}</td>
                <td><a href={% url "view_product_qr" product.id %}> <button class="btn btn-primary" type="button" id="qrbutton"> Generate QR code </button></a></td>
            </tr>
        {% endfor %}
    </table>

        <div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page={{ products.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ products.number }} of {{ products.paginator.num_pages }}.
        </span>

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">next</a>
        {% endif %}
    </span>
        </div>
    {% else %}
        <h3>No product with this link</h3>
    {% endif %}
{% endblock %}