{% extends 'base.html' %}
{% load bootstrap %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#id_fullname").focus();
            $("#submit").click(function(){
                $("#alert-area").hide();
                var registerName = $("#id_fullname").val().replace(/^\s+|\s+$/g, '');
                if (registerName == "") {
                    $("#id_fullname").css('border-color', 'red');
                    $("#notify").showNotification("Fullname is required", 2000);
                    return false;
                } else $("#id_fullname").css('border-color', '#CCC');

                var registerEmail = $("#id_email").val().replace(/^\s+|\s+$/g, '');
                if (!(registerEmail.split('@').length - 1 == 1
                        && registerEmail.split('.').length - 1 > 0)) {
                    $("#id_email").css('border-color', 'red');
                    $("#notify").showNotification("Invalid email", 2000);
                    return false;
                } else $("#id_email").css('border-color', '#CCC');

                var registerUser = $("#id_username").val().replace(/^\s+|\s+$/g, '');
                if (registerUser == "") {
                    $("#id_username").css('border-color', 'red');
                    $("#notify").showNotification("Username is required", 2000);
                    return false;
                } else $("#id_username").css('border-color', '#CCC');

                $("#notify").showNotification("Sending data...", 20000);
                var arg = { type:"POST",
                    url:"",
                    global:false,
                    data:{ fullname: registerName,
                        email: registerEmail,
                        username: registerUser
                        },
                    datatype:"json",
                    success:function (json) {
                        if (json.success) {
                            $("#notify").showNotification("Sucessfully registered", 2000);
                            window.location.replace(json.redirect);
                        } else {
                            $("#notify").showNotification(json.message, 2000);
                            $(json.focus_id).focus();
                        }
                    },
                    error:function () {
                        $("#notify").showNotification("There is an error, please try again", 2000);
                    }
                };
                $.ajax(arg);
                return false;
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="span6">
            <form action="" class="well form-horizontal" id="register_form" method="post">{% csrf_token %}
                <legend>Register to be a member of system</legend>
                {{ form|bootstrap }}
                <div class="form-actions">
                <input id="submit" class="btn-danger" type="submit" value="Register" />
                </div>
            </form>
        </div>
        <div class="span6 alert alert-warning">
            <h3>Note</h3>

            <p>This registration will help you reach
                <a href="{% url "index" %}">Product Management System</a>. After filling all required fields <strong>Register</strong>,
                An email will be sent to your registered email.
        </div>
    </div>
{% endblock %}