{% extends 'base.html' %}
{% load bootstrap %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
{% endblock %}

{% block content %}
    {% if manufacturers %}
    <table  class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
        </thead>
        {% for manufacturer in manufacturers %}
            <tr>
                <td><a href="{% url "product_in_manufacturer" manufacturer.id%}" title="Go to see all products in this manufacturer">{{ manufacturer.id }}</a></td>
                <td>{{ manufacturer.name|default_if_none:""}}</td>
                <td>{{ manufacturer.description|default_if_none:""}}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="pagination">
    <span class="step-links">
        {% if manufacturers.has_previous %}
            <a href="?page={{ manufacturers.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ manufacturers.number }} of {{ manufacturers.paginator.num_pages }}.
        </span>

        {% if manufacturers.has_next %}
            <a href="?page={{ manufacturers.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>
    {% else %}
        <h3>No manufacturers</h3>
    {% endif %}
{% endblock %}