{% extends 'base.html' %}
{% load bootstrap %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
{% endblock %}

{% block content %}
    {% if categories %}
    <table  class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
        </thead>
        {% for category in categories %}
            <tr>
                <td><a href="{% url "product_in_category" category.id%}" title="Go to see all products in this category">{{ category.id }}</a></td>
                <td>{{ category.name|default_if_none:""}}</td>
                <td>{{ category.description|default_if_none:""}}</td>
            </tr>
        {% endfor %}
    </table>

    <div class="pagination">
    <span class="step-links">
        {% if categories.has_previous %}
            <a href="?page={{ categories.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ categories.number }} of {{ categories.paginator.num_pages }}.
        </span>

        {% if categories.has_next %}
            <a href="?page={{ categories.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>
    {% else %}
        <h3>No categories</h3>
    {% endif %}
{% endblock %}