{% extends 'base.html' %}
{% load bootstrap %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
{% endblock %}

{% block content %}
    {% if materials %}
    <table  class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
        </thead>
        {% for material in materials %}
            <tr>
                <td><a href="{% url "product_in_material" material.id%}" title="Go to see all products in this material">{{ material.id }}</a></td>
                <td>{{ material.name|default_if_none:""}}</td>
                <td>{{ material.description|default_if_none:""}}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if materials.has_previous %}
                <a href="?page={{ materials.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ materials.number }} of {{ materials.paginator.num_pages }}.
            </span>

            {% if materials.has_next %}
                <a href="?page={{ materials.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    {% else %}
        <h3>No materials</h3>
    {% endif %}


{% endblock %}